body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.content{
    width: 100%;
    height: 50px;
    color: #f498b8;
}

/* ====================================================================
                            NAVIGATION
=======================================================================*/

#main-nav {
    font-size: 1.5rem;
    font-weight: 100;    
}

#main-nav .nav-link {
    color: white;
}

#main-nav .nav-link:hover {
    color: #EA1C2C;
}

#main-nav .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgba(222, 192, 222, 0.877);
    transition: background 500ms;
}

/* ====================================================================
                            HEADERS
=======================================================================*/

.first-title{
    text-shadow: 9px 9px 10px rgba(223, 10, 46, 0.63);
    font-size: 1.7rem;
}
.tlaxcalli h2{
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

/* ====================================================================
                            PARAGRAPHS
=======================================================================*/

.tlaxcalli p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    /* background: rgba(255, 255, 255, 0.945);
    border-radius: 5px; */
} 


/* ====================================================================
                            MEDIA QUERY
=======================================================================*/

@media (max-width: 765px) {
    .tlaxcalli h2 {
        padding-top: 50px;
        padding-bottom: 20px;
        font-weight: 100;
        font-size: 2rem;
    }
    .content{
        display: none;
    } 
} 




